/*
@import url("https://fonts.googleapis.com/css?family=Anaheim|Quattrocento+Sans:400,700");
*/
@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap');
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

html {
  background-color: #353b43;
  color: #ffffff;
}

body {
  background-color: #353b43;
  font-family: "Indie Flower", sans-serif;
  color: #737f8a;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  /*
  font-family: "Quattrocento Sans", sans-serif;
  */
  font-family: 'Liu Jian Mao Cao', cursive;
  color: #afbac4;
}

p {
  /*
  font-family: "Quattrocento Sans", sans-serif;
  */
  font-family: 'Indie Flower', cursive;
  color: #afbac4;
}

[scroll-behavior=smooth] {
  scroll-behavior: smooth;
}

pre {
  color: #afbac4;
}

