{{ if .Site.Params.parents.enable}}
{{"<!-- Start Call To Action -->" | safeHTML}}
<section class="call-to-action section-sm bg-1 overly" style='background-image: url("{{ .Site.Params.counter.bgImage | absURL }}")'>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
               {{ with .Site.Params.parents.title}} <h2 id="parents">{{ . }}</h2> {{ end }}
               {{ with .Site.Params.parents.content }} <p>{{ . }}</p> {{ end }}
                <a href="{{ .Site.Params.parents.btnURL }}" class="btn btn-main">{{ with .Site.Params.parents.btnText }} {{ . }} {{end}}</a>
            </div>
        </div>
    </div>
</section>
{{"<!-- Start Services Section -->" | safeHTML}}
{{ end }}
